@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #FEC200;
    --primary2: #471763;
    --gray: #EBEDF2;
    --gray-2: #E2E2E2;
    --light-purple: #BA87D9;
    --black2: #333333;
}

html{
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat', sans-serif;
}

p,
span,
li,
a,
input,
button{
    font-family: 'Inter', sans-serif;
}

.container{
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;
}

.background_shadow{
    position: fixed;
    left: 0;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.116);
    width: 100%;
    z-index: 179;
}

@media screen and (max-width: 1200px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (max-width: 1150px) {
    nav{
        position: fixed;
        background-color: var(--gray-2);
        top: 0;
        left: -250px;
        margin-left: 0px !important;
        width: 250px;
        height: 100vh;
        z-index: 100;
        flex-direction: column;
        align-items: start !important;
        transition: 0.4s;
        padding-top: 50px;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        border-bottom: none;
        margin-bottom: 0px !important;
    }
    #respNav:checked ~ nav{
        left: 0;
    }
}

/* scroll */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
   
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}